<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet"/>
  </head>
  <body>
   
  <div class="container">
    <div class="row justify-content-center">

    {{>content}}

    </div>
    
  </div>
      
  </body>
</html>
